numpy>=1.26
tensorflow>=2.14
pytest>=8
pytest-cov>=6
coverage>=7
requests>=2.31
pandas>=2
openpyxl>=3

# PyTorch CPU
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
